* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.studentBox {
            /* position: absolute; */
            width: 100%;
            /* height: 100%; */
            display: flex;
            flex-direction: column;
            overflow: scroll;
}
table {
    width: 98.5%;
}

header {
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* border-bottom:3px solid #E8E8E8; */
}
.ant-layout-header{
    padding: 0px;
}
.headerContainer {
    width: 65%;
    height: 100%;
    display: flex;
    position: relative;
    /* background-color: antiquewhite; */
}


#components-layout-demo-fixed .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

.site-layout .site-layout-background {
    background: #fff;
}

.logoBox {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logoBox>img {
    width: 40px;
    height: 40px;
}

.logoTitle {
    font-size: 24px;
    color: #1F9DFF;
    margin: 0px 10px 0px 10px;
    font-weight: bold;
}

.userBox {
    position: absolute;
    right: 0;
    width: 120px;
    height: 100%;
    /* background-color: #1F9DFF; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.userInfo {
    font-size: 14px;
    color: #333333;
    margin-left: 10px;
}