.coursesBankBox{
    width: 90%;
   height: 100%;
   background: #FFFFFF;
   margin: 20px auto;

   
}
.coursesBankHead{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.coursesBankTitle{
    width: 117px;
    margin: 20px 80px 10px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    font-weight: 700;
}
.BankSeletBox{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items:center;
    padding-left: 25px;
}
.left-Select{
    width: 20%;
    /* margin-left: 20px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: antiquewhite; */
}
.table-Bank{
    width: 100%;
    padding:10px 25px;
}
.bank-button{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-items: flex-start;
    margin-left: 2%;
    margin-top: 10px;
  }
  .bk-butten{
    margin-top: 5px;
  }