.indexBox{
    width: 100%;
    height: 100%;
    background-color:#f5f6f8;
    display: flex;
    flex-direction: column;
}
.ant-carousel .slick-slide {
  width: 100%;
  text-align: center;
  height: 360px;
  line-height: 360px;
  background: #4C45B2;
  overflow: hidden;
}
.ant-carousel .banner1 img{
  height: 360px;
}
.ant-carousel .banner1 .bannerContain{
  width: 65%;
  height: 360px;
  margin: auto;
  background-color: #4C45B2; 
  display: flex;         
}
.bannerTitle{
  margin-left:7% ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ant-carousel .slick-slide .banner2{
  background-color:#1F4E78;
}
.ant-carousel .banner2 img{
  /* float: right; */
  height: 360px;
}
.ant-carousel .banner2 .bannerContain{
  width: 65%;
  height: 360px;
  margin: auto;
  background-color: #1F4E78;          
}
.ant-carousel .slick-slide .banner3{
  background-color:#F06900;
}
.ant-carousel .banner3 img{
  height: 360px;
}
.ant-carousel .banner3 .bannerContain{
  width: 65%;
  height: 360px;
  margin: auto;
  background-color: #F06900;          
}
.ant-carousel .slick-slide h3 {
  font-size: 36px;
  color: #fff;
  border-radius: 50px;
  padding: 10px 50px;
  background-color: #F77777;
}
.ant-carousel .slick-slide h1 {
  font-size: 50px;
  color: #fff;
}
