.indexBox {
    width: 100%;
    height: 100%;
    background-color: #f5f6f8;
    display: flex;
    flex-direction: column;
}
.rightList{
    width: 280px;
    height: 330px;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    right: 17.5%;
    margin: 15px 0px 15px 0px;
    /* overflow: scroll; */
}
.ant-carousel .slick-slide {
    width: 100%;
    text-align: center;
    height: 360px;
    line-height: 360px;
    background: #A1E3FE;
    overflow: hidden;
}

.ant-carousel .banner1 img {
    width: 100%;
    height: 360px;
}

.ant-carousel .banner1 .bannerContain {
    width: 65%;
    height: 100%;
    margin: auto;
    display: flex;
}

.ant-carousel .slick-slide .banner2 {
    background-color: #00C3F9;
}

.ant-carousel .banner2 img {
    width: 100%;
    height: 360px;
}

.ant-carousel .banner2 .bannerContain {
    width: 65%;
    height: 100%;
    margin: auto;
    display: flex;
}
.ant-carousel .slick-slide .banner3 {
    background-color: #D44D39;
}

.ant-carousel .banner3 img {
    width: 100%;
    height: 360px;
}

.ant-carousel .banner3 .bannerContain {
    width: 65%;
    height: 100%;
    margin: auto;
    display: flex;
}