.coursesBankBox-2{
    width: 90%;
    height: 800px;
   background: #FFFFFF;
   margin: 20px auto;
}
.banktitle-2{
    width: 98%;
    padding: 20px;
    margin: auto;
    font-size: 20px;
    border-bottom: 1px solid #F0F0F0;
}
.bankheader{
    width: 90%;
    height: 40px;
    background: #F5F5F5;
    box-sizing: border-box;
    padding: 0 20px;
    line-height: 40px;
    color: #ACA9A7;
    margin: 18px auto;
}
.bank-content{
    width: 80%;
    /* background: coral; */
    margin: 0 auto;
}
.bank2-buttom{
    width: 90%;
    display: flex;
    justify-content: center;
    
}
.Bank2ButtonCenter{
    margin: 0px 15px;
}
.readySelect{
    width: 57%;
    height: 30px;
    margin: 0 auto;
}
#stem{
    margin-bottom: 24px;
}
.ant-form-item {
    margin-bottom: 5px;
}
.bankSelectcontent{
    width: 100%;
}