.paymentBox{
    width: 100%;
    height: 60px;
    background-color: #eee;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.paymentNowBox{
    height: 100%;
    display: flex;
    align-items: center;
}